/* * {
  border: 1px solid black;
} */

html {
  scroll-behavior: smooth;
}

body {
  padding-bottom: 50px;
}

[class^="container"] {
  background-color: #666;
}

.figure-caption {
  color: #333 !important;
}

.filter-list > ul {
  list-style-type: none;
}

.nav-link {
  color: #eee !important;
}

.thingy {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}

.img-cover {
  object-fit: contain;
}